<div class="body">
    <div class="form">
        <h2>Create Item</h2>
        <form (ngSubmit)="CreateItem()" [formGroup]="createItemForm">
            <section>
                <app-form-input label="Name" type="text" placeholder="enter item name" formControlName="name" />
                <app-form-input label="Price" type="number" placeholder="enter item price" formControlName="price" />
                <app-form-input label="Stock Quantity" type="number" placeholder="enter item stock quantity" formControlName="stockQuantity" />
                <div class="formElement">
                    <label for="categoryName">Category Name</label>
                    <select class="selectedCategory" id="categoryName" formControlName="categoryName"  >
                        <option [value]="null">Select category</option>
                        @for (category of allCategories(); track $index) {
                            <option [value]="category.name" >{{ category.name }}</option>
                        }
                    </select> 
                </div>

                <button   [disabled]="createItemForm.invalid" class="btn" type="submit" >create item</button>
            </section>
        </form>
    </div>

</div>
