<div class="body">
    <div class="form">
        <h2>Create Category</h2>
        <form (ngSubmit)="createCategory()" [formGroup]="createCategoryForm">
            <section>
                <app-form-input label="Category name" type="text" placeholder="enter category name" formControlName="name" />
                <app-form-input label="Category description" type="text" placeholder="enter category description" formControlName="description" />
                <button class="btn" type="submit" [disabled]="createCategoryForm.invalid" >create category</button>
            </section>
        </form>
    </div>
</div>