<h2>Sign In</h2>
<form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <section>
        <div class="">
            <label>Email</label><br/>
            <input placeholder="Email" type="email" formControlName="email" name="email" /><br/>
            <label>Password</label><br/>
            <input placeholder="password" type="password" formControlName="password" name="password" /><br/>
            <button [disabled]="signInForm.invalid" type="submit">Sign In</button>
        </div>
    </section>
</form>

<!-- @if(error){
    <h2>{{error.message}}</h2>
} -->
