<div class="body">
    <div class="form">
        <h2>Sign In</h2>
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                <app-form-input label="Email" type="email" placeholder="Enter your email" formControlName="email"></app-form-input>
                <app-form-input label="password" type="password" placeholder="enter your passsword" formControlName="password" />
                @if (error()) {
                   <div class="formError">{{ error() }}</div>
                }
            <button class="btn" [disabled]="signInForm.invalid" type="submit">Sign In</button>
        </form>
    </div>
</div>