<div class="body">
    <div class="form">
        <h2>Update Item</h2>
        <!-- <p class="subtitle">Update the item information below</p> -->
        <form [formGroup]="updateItem" (ngSubmit)="UpdateItem()">
            <div class="formElement">
                <label for="id">Item ID</label><br/>
                <input id="id" type="number" formControlName="id" placeholder="id" readonly /><br>
            </div>
            <div class="formElement">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name" placeholder="Enter item name"/>
                @if (updateItem.controls.name.errors?.['required'] && updateItem.controls.name.touched) {
                    <em class="error">Please enter the item name </em>
                }
                @if (updateItem.controls.name.errors?.['minlength'] && updateItem.controls.name.touched) {
                    <em class="error">Name must contain at least 3 characters</em>
                }
            </div>
            <div class="formElement">
                <label for="price">Price</label>
                <input id="price" type="number" formControlName="price" placeholder="Enter price"/>
            </div>
            <div class="formElement">
                <label for="stockQuantity">Stock Quantity</label>
                <input id="stockQuantity" type="number"formControlName="stockQuantity"placeholder="stockQuantity"/>
            </div>
            <select class="selectedCategory" id="categoryName" formControlName="categoryName"  >
            <option [value]="null">Select category</option>
                @for (category of allCategories(); track $index) {
                    <option [value]="category.name" >{{ category.name }}</option>
                }
            </select><br/>
            <div class="form-actions">
                <button type="submit" class="btn" [disabled]="updateItem.invalid">Update Item</button>
                <!-- <button type="button" class="cancel-btn" routerLink="/home">Cancel</button> -->
            </div>
        </form>
    </div>
</div>